<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="works.eub.voicememo.car.VoiceMemoApplication">

        <service
            android:name="works.eub.voicememo.car.VoiceMemoCarAppService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.MISC" />
            </intent-filter>
        </service>
    </application>
</manifest>
